<div class="column is-4 is-offset-4">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
          <%= comment.commenter %><small><%= time_ago_in_words(comment.created_at) %></small>
          <br>
          <%= comment.body %>
        </p>
      </div>
      <nav class="level is-mobile">
        <div class="level-left">
          <a class="level-item">
            <span class="icon is-small"><i class="fas fa-edit"></i></span>
          </a>

          <%= link_to recipe_comment_path(comment.recipe, comment), method: :delete, class: "level-item", data: {confirm: "Please confirm that you agree to delete this recipe." } do %>
          <span class="icon is-small"><i class="fas fa-trash"></i></span>
          <% end %>
        </div>
      </nav>
    </div>
  </article>
</div>