<div class="container has-background-black-ter">
  <div class="columns is-multiline has-background-black-ter">
    <div class="column is-4 is-offset-4">
      <div class="content is-size-2">
        <div class="card-content">
          Star Kitchen, Recipes!
        </div>
      </div>
    </div>

      <div class="column is-4 is-offset-4">
        <%= render @recipes, instruction: true %>
      </div>
  </div>
</div>

