<div class="container has-background-black-ter">
  <div class="columns is-multiline has-background-black-ter">
    <div class="column is-4 is-offset-4">
      <div class="content is-size-3">
        <div class="card-content">
          <%= @recipe.title %>
        </div>
      </div>
    </div>

    <div class="column is-4 is-offset-4">
      <%= render @recipe, show: true, instruction: false %>
    </div>
    <% @recipe.comments.each do |comment| %>
      <%= render @comments %>
    <% end %>

    <%= render 'comments/form', recipe: @recipe, comment: @comments.build %>

  </div>
</div>