<div class="container has-background-black-ter">
  <div class="columns is-multiline has-background-black-ter">
    <div class="column is-6 is-offset-3">
      <div class="content is-size-3">
        <div class="card-content">
          <%= @recipe.title %>
        </div>
      </div>
    </div>

    <div class="column is-6 is-offset-3">
      <%= render @recipe, show: true, instruction: false %>
    </div>

      <%= render @comments %>
  </div>
</div>