<nav class="navbar has-background-grey has-text-light" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <%= link_to 'StarKitchen', root_path, class: "navbar-item is-size-2 has-text-weight-bold has-text-light" %>


      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navBarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

  <div id="navBarBasicExample" class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <%= link_to 'New Recipe', new_recipe_path, class: "button is-black-ter has-text-weight-bold" %>
        </div>
      </div>
    </div>
  </div>
</nav>
